<div class="home">
  <div class="home__header">
    <div class="home__header-left">
      <h1 class="home__title">Consultas Agendadas</h1>
      <p class="home__subtitle">Lista das últimas consultas odontológicas</p>
    </div>

    <!-- APPOINTMENTS FILTERED BY DATE -->
    <div class="home__header-right">
      <app-appointment-filter
        (dateSelected)="onFilterByDate($event)"
        (clearFilter)="loadAppointments(0)"
      ></app-appointment-filter>
    </div>
  </div>

  <!-- LIST OF APPOINTMENTS -->
  <app-appointment-table
    [appointments]="(appointments$ | async) || []"
    [role]="role"
    (viewDetails)="openAppointmentDetails($event)"
    (editAppointment)="onEditAppointment($event)"
    (cancelAppointment)="onCancelAppointment($event)"
  ></app-appointment-table>

  <!-- PAGINATION -->
  <app-pagination
    [currentPage]="pageInfo.page.number"
    [totalPages]="pageInfo.page.totalPages"
    (pageChange)="loadAppointments($event)"
    *ngIf="pageInfo.page.totalPages > 1"
  ></app-pagination>

  <!-- APPOINTMENT DETAILS MODAL -->
  <app-appointment-details-modal
    *ngIf="showAppointmentDetailsModal && selectedAppointment"
    [appointment]="selectedAppointment"
    (close)="closeDetailsModal()"
  ></app-appointment-details-modal>

  <!-- EDIT APPOINTMENT MODAL -->
  <div class="modal-backdrop" *ngIf="showEditAppointmentModal" (click)="closeEditModal()"></div>
  <div *ngIf="showEditAppointmentModal" class="modal-overlay">
    <div class="modal" (click)="$event.stopPropagation()">
      <div class="modal-content">
        <h2>Editar Consulta</h2>

        <form #editForm="ngForm" (ngSubmit)="updateAppointment()">
          <div class="modal-body">
            <label for="description"><strong>Descrição:</strong></label>
            <input
              type="text"
              id="description"
              name="description"
              [(ngModel)]="editedAppointment.description"
              required
              class="form-control"
            />

            <label for="date"><strong>Data e Hora:</strong></label>
            <input
              type="datetime-local"
              id="date"
              name="date"
              [(ngModel)]="editedAppointment.date"
              required
              class="form-control"
            />
          </div>

          <div class="modal-actions">
            <button type="button" class="btn btn-secondary" (click)="closeEditModal()">
              Cancelar
            </button>
            <button type="submit" class="btn btn-success" [disabled]="!editForm.form.valid">
              Salvar
            </button>
          </div>
          <div
            *ngIf="editMessage"
            class="edit-message"
            [ngClass]="{ success: editSuccess, error: !editSuccess }"
          >
            {{ editMessage }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
