<div class="home">
  <div class="home__header">
    <div class="home__header-left">
      <h1 class="home__title">Consultas Agendadas</h1>
      <p class="home__subtitle">Lista das últimas consultas odontológicas</p>
    </div>

    <!-- APPOINTMENTS FILTERED BY DATE -->
    <div class="home__header-right">
      <app-appointment-filter
        (dateSelected)="onFilterByDate($event)"
        (clearFilter)="loadAppointments(0)"
      ></app-appointment-filter>
    </div>
  </div>

  <!-- LIST OF APPOINTMENTS -->
  <app-appointment-table
    [appointments]="(appointments$ | async) || []"
    [role]="role"
    (viewDetails)="openAppointmentDetails($event)"
    (editAppointment)="openEditModal($event)"
    (cancelAppointment)="onCancelAppointment($event)"
  ></app-appointment-table>

  <!-- PAGINATION -->
  <app-pagination
    [currentPage]="pageInfo.page.number"
    [totalPages]="pageInfo.page.totalPages"
    (pageChange)="loadAppointments($event)"
    *ngIf="pageInfo.page.totalPages > 1"
  ></app-pagination>

  <!-- APPOINTMENT DETAILS MODAL -->
  <app-appointment-details-modal
    *ngIf="showAppointmentDetailsModal && selectedAppointment"
    [appointment]="selectedAppointment"
    (close)="closeDetailsModal()"
  ></app-appointment-details-modal>

  <!-- EDIT APPOINTMENT MODAL -->
  <app-edit-appointment-modal
    *ngIf="showEditModal && editedAppointment"
    [appointment]="editedAppointment"
    [message]="editMessage"
    [isSuccess]="editSuccess"
    (save)="updateAppointment($event)"
    (close)="showEditModal = false"
  ></app-edit-appointment-modal>
</div>
