<div class="register-container">
  <!-- Feedback from API -->
  <div *ngIf="response" [ngClass]="isSuccess ? 'register-api-success' : 'register-api-error'">
    {{ response }}
  </div>

  <!-- Register Form -->
  <div class="register">
    <h1 class="register__title">Nova senha</h1>

    <!-- Form -->
    <form class="register__form" (ngSubmit)="onSubmit()" [formGroup]="passwordForm">
      <div class="register__field">
        <input
          type="password"
          class="register__input"
          placeholder="Senha"
          formControlName="newPassword"
        />
        <div *ngIf="field['newPassword'].errors && formSubmitted" class="register__error">
          <div *ngFor="let error of passwordErrors()">{{ error }}</div>
        </div>
      </div>

      <div class="register__field">
        <input
          type="password"
          class="register__input"
          placeholder="Confirmar senha"
          formControlName="confirmPassword"
        />
      </div>

      <input type="submit" class="register__button register__button--submit" value="Enviar" />
      <a routerLink="/login" class="register__link"> Já tem uma conta? Faça login </a>
    </form>
  </div>
</div>
