<div class="modal-backdrop">
  <div class="modal" (click)="$event.stopPropagation()">
    <div class="modal-content">
      <h2>{{ isEditMode ? "Editar Paciente" : "Adicionar Paciente" }}</h2>

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="modal-body">
          <!-- NAME -->
          <div class="form-group">
            <label for="name">Nome Completo</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control"
            />
            <small
              *ngIf="
                registerForm.get('name')?.touched &&
                registerForm.get('name')?.invalid
              "
              class="text-danger"
            >
              Nome é obrigatório
            </small>
          </div>

          <!-- EMAIL -->
          <div class="form-group">
            <label for="email">Email</label>
            <input
              [readOnly]="isEditMode"
              type="email"
              id="email"
              formControlName="email"
              class="form-control"
            />
            <small
              class="text-danger"
              *ngIf="
                registerForm.get('email')?.touched &&
                registerForm.get('email')?.invalid
              "
            >
              <span *ngIf="registerForm.get('email')?.errors?.['required']"
                >Email é obrigatório.</span
              >
              <span *ngIf="registerForm.get('email')?.errors?.['email']"
                >Email inválido.</span
              >
            </small>
          </div>

          <!-- PHONE -->
          <div class="form-group">
            <label for="phone">Telefone</label>
            <input
              (input)="formatPhoneNumber($event)"
              placeholder="(XX) XXXXX-XXXX"
              type="tel"
              id="phone"
              formControlName="phone"
              class="form-control"
            />
            <small
              *ngIf="
                registerForm.get('phone')?.touched &&
                registerForm.get('phone')?.invalid
              "
              class="text-danger"
            >
              <span *ngIf="registerForm.get('phone')?.errors?.['required']"
                >Telefone é obrigatório.</span
              >
              <span *ngIf="registerForm.get('phone')?.errors?.['pattern']"
                >Formato inválido. Use (XX) XXXXX-XXXX</span
              >
            </small>
          </div>

          <!-- PASSWORD -->
          <div class="form-group" *ngIf="!isEditMode">
            <label for="password">Senha</label>
            <div class="password-input">
              <input
                [type]="showPassword ? 'text' : 'password'"
                id="password"
                formControlName="password"
                class="form-control"
              />
              <button
                type="button"
                class="toggle-password"
                (click)="togglePasswordVisibility()"
              >
                <i
                  class="fas {{ showPassword ? 'fa-eye-slash' : 'fa-eye' }}"
                ></i>
              </button>
            </div>
            <small
              class="text-danger"
              *ngFor="let error of getPasswordErrors()"
            >
              {{ error }}
            </small>
          </div>
        </div>
        <div
          *ngIf="formErrorMessage"
          class="alert alert-danger mt-3 text-center"
        >
          {{ formErrorMessage }}
        </div>
        <div class="modal-actions">
          <button type="button" class="btn btn-secondary" (click)="onClose()">
            Cancelar
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="registerForm.invalid || isSubmitting"
          >
            <span
              *ngIf="isSubmitting"
              class="spinner-border spinner-border-sm"
            ></span>
            <span *ngIf="!isSubmitting">{{
              isEditMode ? "Atualizar" : "Cadastrar"
            }}</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
