<div class="container">
  <div class="login">
    <h1 class="login__title">Dental Care</h1>
    <div *ngIf="errorMessage" class="login__error">
      {{ errorMessage }}
    </div>
    <form class="login__form" (ngSubmit)="onSubmit()" [formGroup]="registerForm">
      <!-- EMAIL -->
      <input type="text" class="login__input" placeholder="E-mail" formControlName="username" />

      <!-- PASSWORD -->
      <input type="password" class="login__input" placeholder="Senha" formControlName="password" />

      <input
        type="submit"
        class="login__button login__button--submit"
        value="Entrar"
        [disabled]="registerForm.invalid"
      />
      <input
        type="button"
        class="login__button login__button--create-account"
        value="Criar uma conta"
        routerLink="/register"
      />
      <a href="#" class="login__link">Esqueceu sua senha?</a>
    </form>
  </div>
</div>
