<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <!-- Navbar Brand-->
  <a class="navbar-brand ps-3 me-5">Dental Care </a>
  <!-- Sidebar Toggle-->
  <button
    class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0"
    id="sidebarToggle"
    (click)="toggleSidebar()"
  >
    <i class="fas" [class.fa-bars]="sidebarCollapsed" [class.fa-times]="!sidebarCollapsed"></i>
  </button>

  <div class="d-flex ms-auto align-items-center">
    <ng-container *ngIf="role === 'admin'">
      <!-- Navbar Search-->
      <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
          <input
            class="form-control"
            type="text"
            placeholder="Buscar paciente"
            aria-describedby="btnNavbarSearch"
          />
          <button
            class="btn btn-primary"
            id="btnNavbarSearch"
            type="button"
            (click)="onButtonSearch()"
          >
            <i class="fas fa-search"></i>
          </button>
        </div>
      </form>
    </ng-container>
    <!-- Navbar-->
    <ul class="navbar-nav me-3 me-lg-4">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdown"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          ><i class="fas fa-user fa-fw"></i
        ></a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" (click)="openLogoutModal()">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<!-- Logout Confirmation Modal -->
<div class="modal-backdrop" *ngIf="showLogoutModal" (click)="closeModal()"></div>
<div *ngIf="showLogoutModal" class="modal-overlay">
  <div class="modal" (click)="$event.stopPropagation()">
    <div class="modal-content">
      <div class="modal-body">
        <p>Você realmente deseja sair?</p>
      </div>
      <div class="modal-actions">
        <button type="button" class="btn btn-primary" (click)="logout()">Sair</button>
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
      </div>
    </div>
  </div>
</div>
