<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
  <div class="sb-sidenav-menu">
    <div class="nav">
      <!-- HOME  -->
      <div class="sb-sidenav-menu-heading">Home</div>
      <a class="nav-link" routerLink="/">
        <div class="sb-nav-link-icon"><i class="fa-solid fa-house"></i></div>
        Home
      </a>
      <!-- ADMIN  -->
      @if(role === 'admin'){

      <div class="sb-sidenav-menu-heading">Admin</div>
      <a class="nav-link" routerLink="/dashboard">
        <div class="sb-nav-link-icon">
          <i class="fas fa-tachometer-alt"></i>
        </div>
        Dashboard
      </a>
      <a class="nav-link" routerLink="/dentists">
        <div class="sb-nav-link-icon">
          <i class="fa-solid fa-user-doctor"></i>
        </div>
        Dentistas
      </a>
      <a class="nav-link" routerLink="/patients">
        <div class="sb-nav-link-icon"><i class="fa-solid fa-users"></i></div>
        Pacientes
      </a>

      }
      <!-- DENTIST  -->
      @if(role === 'dentist'){

      <div class="sb-sidenav-menu-heading">Dentistas</div>
      <a class="nav-link" routerLink="/schedule">
        <div class="sb-nav-link-icon">
          <i class="fa-solid fa-calendar-days"></i>
        </div>
        Agenda
      </a>

      @if(role === 'dentist' ){
      <a class="nav-link" routerLink="dentist/update-password">
        <div class="sb-nav-link-icon"><i class="fa-solid fa-key"></i></div>
        Alterar Senha
      </a>
      } }
      <!-- PATIENT  -->
      @if(role === 'patient' || role === 'admin'){

      <div class="sb-sidenav-menu-heading">Pacientes</div>
      <a class="nav-link" routerLink="/appointment">
        <div class="sb-nav-link-icon"><i class="fa-solid fa-plus"></i></div>
        Consulta
      </a>

      @if(role === 'patient'){
      <a class="nav-link" routerLink="/edit-patient">
        <div class="sb-nav-link-icon"><i class="fa-solid fa-user-pen"></i></div>
        Editar
      </a>

      <a class="nav-link" routerLink="/rating">
        <div class="sb-nav-link-icon"><i class="fa-solid fa-star"></i></div>
        Avaliar
      </a>

      } }
    </div>
    <!-- FOOTER SIDEBAR  -->
  </div>
  <div class="sb-sidenav-footer">
    <div class="small">
      {{ currentDate | date : "EEEE, 'dia' d" }}
    </div>
    {{ currentDate | date : "HH:mm:ss" }}
  </div>
</nav>
