<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
  <div class="sb-sidenav-menu">
    <div class="nav">
      <!-- ADMIN  -->
      <div class="sb-sidenav-menu-heading">Admin</div>
      <a class="nav-link" routerLink="#">
        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
        Dashboard
      </a>
      <!-- DENTIST  -->
      <div class="sb-sidenav-menu-heading">Dentistas</div>
      <a class="nav-link" href="#">
        <div class="sb-nav-link-icon"><i class="fa-solid fa-user-doctor"></i></div>
        Consultar
      </a>
      <a class="nav-link" href="#">
        <div class="sb-nav-link-icon"><i class="fa-solid fa-plus"></i></div>
        Cadastrar
      </a>
      <!-- PATIENT  -->
      <div class="sb-sidenav-menu-heading">Pacientes</div>
      <a class="nav-link" href="#">
        <div class="sb-nav-link-icon"><i class="fa-solid fa-users"></i></div>
        Consultar
      </a>
      <a class="nav-link" href="#">
        <div class="sb-nav-link-icon"><i class="fa-solid fa-plus"></i></div>
        Cadastrar
      </a>

      <!-- APPOINTMENT  -->
      <div class="sb-sidenav-menu-heading">Consultas</div>
      <a class="nav-link" href="#">
        <div class="sb-nav-link-icon"><i class="fa-solid fa-clipboard-list"></i></div>
        Todas Consultas
      </a>
    </div>
  </div>
  <div class="sb-sidenav-footer">
    <div class="small">
      {{ currentDate | date : "EEEE, 'dia' d" }}
    </div>
    {{ currentDate | date : 'HH:mm:ss' }}
  </div>
</nav>
